*{
	margin:auto;
}
html{
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
	font-family: "Open Sans", sans-serif;
}
/*Home*/
.home{
	display: block;
}
.recent{
	width: 100%;
	height: 288px;
}
.recent .title{
	width: 100%;
	height: 80px;
	background-color: #FAFAFA;
	box-shadow: 0 1px 0 0 rgba(0,0,0,0.06) inset,
				0 -1px 0 0 rgba(0,0,0,0.06) inset;
	text-align: center;
}
.recent .title h1{
	font-size:14px;
	font-weight: 700;
	opacity: 0.26;
	padding-top: 42px; 
}
.recent .list-song{
	width: 100%;
	height: 208px;
}
.recent .list-song ul{
	padding: 0;
	text-align: center;
	margin-right:10px;
	position: relative;
	top:24px;
}
.recent .list-song ul li{
	display: inline-block;
	margin-left:10px;
}
.recent .list-song .song{
	width: 128px;
	height: 168px;
	text-align: center;
}
.recent .list-song .song img{
	width: 128px;
	height: 128px;
}
.recent .list-song .song h1{
	font-size: 12px;
}
.recent .list-song .song p{
	font-size: 11px;
	opacity: 0.26;
	font-weight: 600;
}
.new{
	width: 100%;
	height: 264px;
}
.new .title{
	width: 100%;
	height: 56px;
	background-color: #FAFAFA;
	box-shadow: 0 1px 0 0 rgba(0,0,0,0.06) inset,
				0 -1px 0 0 rgba(0,0,0,0.06) inset;
	text-align: center;
}
.new .title h1{
	font-size:14px;
	font-weight: 700;
	opacity: 0.26;
	padding-top:18px; 
}
.new .list-song{
	width: 100%;
	height: 208px;
}
.new .list-song ul{
	padding: 0;
	text-align: center;
	margin-right:10px;
	position: relative;
	top:24px;
}
.new .list-song ul li{
	display: inline-block;
	margin-left:10px;
}
.new .list-song .song{
	width: 128px;
	height: 168px;
	text-align: center;
}
.new .list-song .song img{
	width: 128px;
	height: 128px;
}
.new .list-song .song h1{
	font-size: 12px;
}
.new .list-song .song p{
	font-size: 11px;
	opacity: 0.26;
	font-weight: 600;
}
/*Home*/


/*Player*/
.player{
	display: block;
}
.header-player{
	width: 100%;
	height: 320px;
}
.header-player .cover-player{
	width: 100%;
	height: 320px;
}
.volume{
	width: 100%;
	height: 56px;
}
.volume ul{
	padding: 0;
	padding-top: 15px;

	text-align: center;
}
.volume ul li{
	width: 2px;
	height: 8px;
	margin-left: 6px;
	background-color: rgba(0,0,0,0.12);
	display: inline-block;
}
.list-song-player{
	width: 100%;
	height: auto;
	box-shadow: 0 1px 0 0 rgba(0,0,0,0.06) inset;
	padding-bottom: 56px;
}
.list-song-player .song{
	width: 100%;
	height: 56px;
	box-shadow: 0 -1px 0 0 rgba(0,0,0,0.06) inset;		
}
.list-song-player .song p{
	font-size: 12px;
	font-weight: 600;
	padding-top: 19px;
	padding-left: 19px;
	letter-spacing: 0.5px;
}
.list-song-player .song #number-ordered{
	float:left;
	color:rgba(0,0,0,0.26);
}
.list-song-player .song #name{
	color:rgba(0,0,0,0.54);
	margin-left: 30px;	
}
.list-song-player .song #name span{
	color:rgba(0,0,0,0.26);	
}
/*Player*/


/*Playlist*/
.playlist{
	display: block;
}
.header-playlist{
	width: 100%;
	height: 320px;
}
.header-playlist .cover{
	width: 100%;
	height: 240px;
	background-color: black;
}
.header-playlist .info{
	width: 100%;
	height: 80px;
	text-align: center;
}
.header-playlist .info h1{
	font-size: 18px;
	padding-top: 16px;
}
.header-playlist .info p{
	font-size: 12px;
	font-weight: 600;
	color:rgba(0,0,0,0.26);
}
.header-playlist .info p span{
	color:rgba(0,0,0,0.54);	
}
.list-song-playlist{
	width: 100%;
	height: auto;
	box-shadow: 0 1px 0 0 rgba(0,0,0,0.06) inset;
	padding-bottom: 56px;
}
.list-song-playlist .song{
	width: 100%;
	height: 56px;
	box-shadow: 0 -1px 0 0 rgba(0,0,0,0.06) inset;		
}
.list-song-playlist .song p{
	font-size: 12px;
	font-weight: 600;
	padding-top: 19px;
	padding-left: 19px;
	letter-spacing: 0.5px;
}
.list-song-playlist .song #number-ordered{
	float:left;
	color:rgba(0,0,0,0.26);
}
.list-song-playlist .song #name{
	color:rgba(0,0,0,0.54);
	margin-left: 30px;	
}
.list-song-playlist .song #name span{
	color:rgba(0,0,0,0.26);	
}
/*Playlist*/